.card__container-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 0;
    padding-bottom: 50px;
}

.card {
    background: white;
    position: relative;
    width: 280px;
    height: 400px;
    border: 2px solid black;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card:hover {
    transform: translateY(10px);
}

.added-in-cart {
    background: rgb(248, 255, 214);
}

.card__image-product {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.card__title-product {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.actions__selected {
    position: absolute;
    right: 30px;
    bottom: 22px;
    cursor: pointer;
}

.actions {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.card__price-product,
.card__article-product,
.card__color-product {
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    display: flex;
    justify-content: center;
    text-align: center;
}

.card__article-product{
    font-weight: 100;
    font-size: 10px;
}

.btn__add-to-cart {
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    padding: 5px;
    width: 90px;
    cursor: pointer;
    margin-bottom: 15px;
}


.btn__add-to-cart:active {
    transform: translateY(3px);
}