.card__container-list {
    display: flex;
    flex-wrap: wrap;
}

.card-item-contents {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.card-item {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding: 15px;
    background: white;
    height: 120px;
    border: 2px solid black;
    border-radius: 15px;
}

.added-in-cart {
    background: rgb(248, 255, 214);
}

.card-item-description-left,
.card-item-description-right {
    flex-direction: column;
    text-align: center;
}

.card-item__image-product {
    width: 100px;
    height: 100px;
    display: flex;
    border: 2px solid black;
    margin-left: 40px;
    margin-top: 10px;
}

.card-item__title-product {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.card-item-actions__selected {
    cursor: pointer;
}

.card-item__article-product{
    font-weight: 100;
    font-size: 10px;
}

.item-btn__add-to-cart {
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 15px;
    padding: 5px;
    width: 90px;
    cursor: pointer;
    margin-bottom: 15px;
}
