.header {
    position: sticky;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    padding: 20px 100px;
}

.navbar__title {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: 900;
    font-size: 45px;
    line-height: 2;
}

.header-links ul{
    margin: 0;
    padding: 0;
}

.header-links ul li {
    list-style: none;
    display: inline-block;
    font-size: 18px;
    padding: 30px 30px;
}

.header-links ul li a {
    text-decoration: none;
    color: black;
}

.header-links ul li a:hover {
    color: #833ab4;
}
